<div class="panel panel-default">
          <div class="panel-heading">
            <h3>
                {{ image.title }}
            </h3>
          </div>
          <div class="panel-body">
            <blockquote>
                {{ image.description }}
            </blockquote>
            <div class="text-center">
              <img src="/public/upload/{{image.filename}}" class="img-thumbnail" alt="this is an {{image.title}}" />
              <!-- <img src="http://placehold.it/750" class="img-thumbnail"> -->
            </div>
          </div>
          <div class="panel-footer">
            <form method="post" action="/images/{{ image.uniqueID }}/like" enctype="application/x-www-form-urlencoded">
              <button type="submit" class="btn btn-success" id="btn-like" data-id="{{ image.uniqueId }}"><i class="glyphicon glyphicon-heart"></i> Like</button> &nbsp; &nbsp;
              <strong><i class="glyphicon glyphicon-eye-open"></i> Views: {{ image.views }}</strong> &nbsp; &nbsp;
              <strong><i class="glyphicon glyphicon-heart"></i> Likes: {{ image.likes }}</strong> &nbsp; &nbsp;
              <strong> Posted: <em>{{ timeago image.timestamp }}</em></strong> &nbsp; &nbsp;
            </form>
          </div>
        </div>
      <!-- panel 1.2 comment section -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>Comments Section</h3>
        </div>
        <!-- panel-body -->
        <div class="panel-body">
          {{#if userName }}
          <div id="post-comment">
            <h4>Post A Comment, {{ userName }}</h4>
            <form method="post" action="/images/{{ image.uniqueID }}/comment" enctype="application/x-www-form-urlencoded">
              <!--    !!!Not needed because sign in requires!!!
              <div class="form-group">
                <label for="name">
                  Name:
                </label>
                <input type="text" name="name" class="form-control" />
              </div>
              
              <div class="form-group">
                <label for="email">
                  Email:
                </label>
                <input type="text" name="email" class="form-control" />
              </div>
              -->

              <div class="form-group">
                <label for="comment">
                  Comment:
                </label>
                <textarea class="form-control" name="comment" rows="3" placeholder="write comment"></textarea>
              </div>
              
              <div class="form-group">
                <button type="submit" id="comment-btn" class="btn btn-success" data-id="{{ image.uniqueId }}"><i class="glyphicon glyphicon-comment"></i> Post</button>
              </div>
            </form>
          </div>
          {{else}}
            <div class="alert alert-danger">Error: {{error}} must be signed in.</div>
          {{/if}}
        </div>
        <!-- panel footer -->
        <div class="panel-footer comments-section">
          <h3>Recent Comments</h3>
          <ul class="media-list">
            {{#each comments}}
            <li class="media">
              <div class="media-body">
                <blockquote>
                  {{ comment }}
                </blockquote>
                <strong class="media-heading">{{ name }}</strong>
                <em class="text-muted">{{ timeago timestamp }}</em>
              </div>
            </li>
            {{/each}}
          </ul>
        </div>
        
      </div>